---
import video3 from '@video/MainSlideShow_1.mp4'

const headline = 'National 50 Security and Investigations Inc.'

const t1 = 'provides supervision of security officers at no additional cost to you. We shall designate supervisory personnel that will be identified to each client and available to the client anytime security services are provided and are responsible for reporting and conferring with representatives of the client with respect to the services rendered. Our clients can contact supervisory personnel at any time, 24 hours a day.'

---
    {/* White Section- National 50 security ans investigations inc*/}
    <section class="hero relative flex items-center justify-center overflow-hidden py-40">
      <video
      autoplay
      loop
      muted
      class="absolute w-auto min-w-full min-h-full max-w-none"
    >
      <source
        src={video3}
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="relative mx-auto w-full justify-center z-10 fade-in-anim-center">
      <div class="py-8 z-10">
        <div class="mx-auto w-full max-w-4xl bg-white/60 rounded-3xl p-8 fade-in-anim-center">
          <h1 class="text-3xl font-bold text-dark-900 text-center mb-2 drop-shadow-lg">NATIONAL 50 SECURITY AND INVESTIGATIONS INC.</h1>
          <p
            class="text-1xl mb-6 text-justify font-normal tracking-tight text-dark-900 drop-shadow-lg lg:leading-tight"
          >
          PROVIDES SUPERVISION OF SECURITY OFFICERS AT NO ADDITIONAL COST TO YOU. WE SHALL DESIGNATE SUPERVISORY PERSONNEL THAT WILL BE IDENTIFIED TO EACH CLIENT AND AVAILABLE TO THE CLIENT ANYTIME SECURITY SERVICES ARE PROVIDED AND ARE RESPONSIBLE FOR REPORTING AND CONFERRING WITH REPRESENTATIVES OF THE CLIENT WITH RESPECT TO THE SERVICES RENDERED. OUR CLIENTS CAN CONTACT SUPERVISORY PERSONNEL AT ANY TIME, 24 HOURS A DAY.
          </p>
        </div>
      </div>
    </div>
      
    </section>
  
           
<style>

  .fade-in-anim-left {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-left;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-right {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-right;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-center {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 15% cover 60% ;
  }
  .fade-in-anim {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  
  @keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-center {
  from {
    opacity: 0;
    transform: translateY(40px);
    
  }

  to {
    opacity: 1;
    transform: translateY(0);
    
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


  
  </style>
