---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import CenterImage from '@images/stock/police-man.png'
import sectionbg from '@images/stock/light-bg.png'
---

  {/* White Section- Services*/}
  <section class="bg-white px-4 pt-12 sm:px-6 lg:px-8">
    
    <div class="mx-auto max-w-screen-md lg:max-w-screen-xl fade-in-anim">
      
      
      {/* Project description */}
      <div class="mx-auto py-8 flex w-4/5 flex-wrap">
        <div class="mx-auto w-full">
          <p
            class="mb-6 text-1xl text-justify font-normal tracking-tight text-dark-900 lg:leading-tight"
          >
          National 50 Security and Investigations Inc. offers a wide array of
          services to its clients. Our security officers are license, qualified and
          professionals. Our officers are highly trained and provide the best
          security available. Our officers operate within the rules of law and
          within the regulations and guidelines of the Bureau of Security and
          Investigative Services.
          </p>
      </div>
    </div>
  </section>
  
<section class="bg-white ">
  <div class="mx-auto grid max-w-screen-md grid-cols-3 gap-8 lg:max-w-screen-xl pb-16">
    <div class="flex flex-col gap-8 place-content-around">
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          FULLY UNIFORMED, ARMED AND UNARMED
        </h3>
      </div>
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          SECURITY OFFICES, DEDICATED TO YOUR SPECIAL NEEDS
        </h3>
      </div>
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          CUSTOMIZABLE SECURITY SOLUTIONS
        </h3>
      </div>
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          REGULAR TRACKING & REPORTING, ELECTRONIC AND PAPER
        </h3>
      </div>
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          PARAMEDIC & EMT MEDICL SERVICES
        </h3>
      </div>
      <div class="">
        <h3 class=" text-dark-900 font-bold text-right fade-in-anim-left">
          FIELD SUPERVISORS (NOADDITIONAL CLIENT COST)
        </h3>
      </div>
    </div>
    <div class="relative w-full md:mt-0 min-h-80 fade-in-anim-center">
      <Image
        src={CenterImage}
        alt="description"
        class="h-full w-full rounded-t-3xl object-cover object-center"
      />
    </div>
    <div class="flex flex-col gap-8 place-content-around">
      <div class="">
        
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          24 HOURS COMMUNICATIONS
        </h3>
      </div>
      <div class="">
        
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          INESTIGATIVE SERVICES (LICENSED PRIVATE INVESTIGATORS)
        </h3>
      </div>
      <div class="">
        
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          CAMERA SYSTEMS AND TRAINED MONITORING OFFICERS
        </h3>
      </div>
      <div class="">
       
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          TRAINED DISPATCHERS AND COMMUNICATION SPECIALITS
        </h3>
      </div>
      <div class="">
        
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          THREAT ANALYSIS & EVALUATION EXPERTS
        </h3>
      </div>
      <div class="">
        
        <h3 class=" text-dark-900 font-bold fade-in-anim-right">
          MOBILE SECURITY PATROL UNITS
        </h3>
      </div>
    </div>
  </div>
</section>


<style>

  .fade-in-anim-left {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-left;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-right {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-right;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }

  .fade-in-anim-center {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  .fade-in-anim {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: fadein-center;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-range: entry 25% cover 50% ;
  }
  
  @keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-center {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


  
  </style>