---
const t1 =
  'This office provides dedicated and trained professional security personal in all areas under the above heading. Our personal are experienced officers that can operate, control, monitor and perform functions from simple monitoring to responding to complete command and control centers, which can dispatch, monitor, record and store data and control from a single central location. Officers are training in a variety of monitoring and recording equipment, as well as communications equipment, devices and procedures. Officers are trained and schooled in crises situations, including such as emergencies as fire and or earthquake evacuations. Procedures and protocols, range from local security command and control to notifications and assistance to police, fire, medical and first responders.'

const t2 =
  ' Whether it is a dispatch center, camera monitoring assignment or the solitary security officer on a post, they all have one thing in common, 24-7-365 communication. Every employee has the availability of communication at anytime that they are on duty, via radio or cellular phone. Their supervisors, and in some cases, their clients, are available at all times if so needed or notifications need to be made. In turn supervisors are able to contact management if needed anytime. Clients may contact the security officer, the supervisor or management at anytime.'

const t3 =
  'Needless to say, communications are critical in the security business. Communications in written form, i.e; DAR’s and Reports are submitted daily.'

const t4 =
  'Whatever your needs are, National 50 Security and Investigations Inc. will work with you to provide a security plan to fit your individual security needs.'
---

{/* Blue Section Command and Control*/}
<section class="bg-dark-900 px-4 py-12 sm:px-6 md:py-16 lg:px-8">
  <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
    <div class="flex w-full justify-center">
      <h1 class="text-3xl font-bold text-white">
        COMMAND AND CONTROL, DISPATCH, COMMUNICATION AND MONITORING
      </h1>
    </div>
    {/* Project description */}
    <div class="mx-auto mt-6 flex w-full flex-wrap">
      <div class="mx-auto w-full">
        <p
          class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
        >
          {t1.toUpperCase()}
        </p>
        <p
          class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
        >
          {t2.toUpperCase()}
        </p>
        <p
          class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
        >
          {t3.toUpperCase()}
        </p>
        <p
          class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
        >
          {t4.toUpperCase()}
        </p>
      </div>
    </div>
  </div>
</section>
