---
import bgImage1 from '@images/stock/bgImg1.jpg'

const t1 = 'National 50 Security and Investigations Inc. is a dominant provider of a wide array of security and safety services in each of the markets in which we compete.'

const t2 = 'We are a satisfaction driven company. Our mission is to be a reliable, dependable full-service security organization whose top priority is the total satisfaction of our clients. Our wish and what we strive for, is to be recognized as a professional, superior performing company whose clients and property are protected.'

const t3 = 'All Security Officers are trained by the State to “Protect the Clients” and their “Property”. With National 50 Security, its not just a sales slogan, we o what we promise.'

const t4 = 'We pledge to do our very best to build and strengthen the partnerships which our business is based:'

const l1 = '- Partnerships with our customers, whose loyalty has brought longevity and success.'

const l2 = '- Partnerships with our employees, whose dedication has built the company.'

const l3 = '- Belief in secure communities'


const t5 = 'For more information, please contact one of our knowledgeable staff members listed on the contact page within this website. We look forward to working with you!'

---
{/* Blue Section Mission Statement - animated */}
<section class="bg-dark-900 pb-10  md:pb-12 ">
  <div class="mx-auto w-full max-w-screen-xl mt-12 space-y-12 lg:mt-16 lg:space-y-56 lg:pb-24">
        <div
          class="relative mx-auto max-w-lg lg:mx-0 lg:max-w-none"
        >
          <div
            class='left-40 relative h-64 w-full rounded-t-3xl bg-cover bg-center shadow-xl lg:h-full lg:w-[90%] lg:rounded-3xl lg:pt-[46%] fade-in-anim-right'
          >
            <Image
              src={bgImage1}
              alt='descript'
              class="absolute inset-0 h-full w-full rounded-t-3xl object-cover object-center lg:rounded-3xl"
            /> 
            
          </div>
          <div
            class:list={[
              'relative bottom-0 z-20 block h-auto w-full rounded-b-3xl bg-white p-6 shadow-xl sm:p-8 lg:absolute lg:-bottom-25 lg:h-full lg:w-1/2 lg:rounded-3xl lg:p-12 fade-in-anim-left',
            ]}
          >
            <div class="h-full lg:flex lg:flex-col lg:justify-between">
              <div class="flex w-full flex-wrap">
                <h3 class="text-3xl font-bold text-dark-900 lg:text-4xl">
                  Mission Statement
                </h3>
                <p class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                  National 50 Security and Investigations Inc. is a dominant provider
          of a wide array of security and safety services in each of the
          markets in which we compete.
                </p>
                <p class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                  All Security Officers are trained by the State to “Protect the
          Clients” and their “Property”. With National 50 Security, its not
          just a sales slogan, we do what we promise.
                </p>
                <p class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                  We pledge to do our very best to build and strengthen the
          partnerships which our business is based:
                </p>
                <p class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                  - Partnerships with our customers, whose loyalty has brought
          longevity and success. <br>
                  - Partnerships with our employees, whose dedication has built the
          company. <br>
                  - Belief in secure communities
                </p>
                <p class="mb-6 text-xl font-normal tracking-tight text-dark-900 lg:leading-tight fade-in-anim-center">
                  For more information, please contact one of our knowledgeable staff
          members listed on the contact page within this website. We look
          forward to working with you!
                </p>
              </div>            
            </div>
          </div>
        </div>
  </div>
  </section>