---

import HomeHero from '@components/home/HomeHero.astro'

import ContactForm from '@components/shared/ContactForm.astro'
import BlueSimple from '@components/shared/BlueSimple.astro'
import ServicesList from '@components/home/ServicesList.astro'
import { SITE } from '@config'
import HomeLayout from '@layouts/HomeLayout.astro'
import ServicesListBlue from '@components/home/ServicesListBlue.astro'
---

<HomeLayout
  title={`${SITE.title} - A dominant provider of a wide array of security and safety services`}
>
  <HomeHero />
  <ContactForm />
  {/* Blue Section Mission Statement*/}
  <section class="bg-dark-900 px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
      <div class="flex w-full justify-center">
        <h1 class="text-3xl font-bold text-white">MISSION STATEMENTS</h1>
      </div>
      {/* Project description */}
      <div class="mx-auto mt-6 flex w-full flex-wrap">
        <div class="mx-auto w-full">
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            National 50 Security and Investigations Inc. is a dominant provider
            of a wide array of security and safety services in each of the
            markets in which we compete.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            All Security Officers are trained by the State to “Protect the
            Clients” and their “Property”. With National 50 Security, its not
            just a sales slogan, we do what we promise.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            We pledge to do our very best to build and strengthen the
            partnerships which our business is based:
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            - Partnerships with our customers, whose loyalty has brought
            longevity and success.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            - Partnerships with our employees, whose dedication has built the
            company.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            - Belief in secure communities
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            For more information, please contact one of our knowledgeable staff
            members listed on the contact page within this website. We look
            forward to working with you!
          </p>
        </div>
      </div>
    </div>
  </section>

  {/* White Section- Investigative*/}
  <section class="bg-white px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
      <div class="flex w-full justify-center">
        <h1 class="text-3xl font-bold text-dark-900">INVESTIGATIVE SERVICES</h1>
      </div>
      {/* Project description */}
      <div class="mx-auto mt-6 flex w-full flex-wrap">
        <div class="mx-auto w-full">
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-dark-900 lg:leading-tight"
          >
            National 50 Security office is staffed with professional state
            licensed investigators. All of our investigators have prior law
            enforcement experience and oversee each individual investigation
            assignment. The investigator controls the needed manpower and the
            case budget.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-dark-900 lg:leading-tight"
          >
            Our investigative assignments are civil only. We refrain from
            becoming involved in criminal matters. From civil cases to personal
            matters, our investigators will review the case and meet with the
            prospective client to glean needed information and to approximate
            the expenses that a client may incur.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-dark-900 lg:leading-tight"
          >
            As in any work we perform, we are fully licensed and insured.
          </p>
        </div>
      </div>
    </div>
  </section>

  {/* Blue Section Command and Control*/}
  <section class="bg-dark-900 px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
      <div class="flex w-full justify-center">
        <h1 class="text-3xl font-bold text-white">
          COMMAND AND CONTROL, DISPATCH, COMMUNICATION AND MONITORING
        </h1>
      </div>
      {/* Project description */}
      <div class="mx-auto mt-6 flex w-full flex-wrap">
        <div class="mx-auto w-full">
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            This office provides dedicated and trained professional security
            personal in all areas under the above heading. Our personal are
            experienced officers that can operate, control, monitor and perform
            functions from simple monitoring to responding to complete command
            and control centers, which can dispatch, monitor, record and store
            data and control from a single central location. Officers are
            training in a variety of monitoring and recording equipment, as well
            as communications equipment, devices and procedures. Officers are
            trained and schooled in crises situations, including such as
            emergencies as fire and or earthquake evacuations. Procedures and
            protocols, range from local security command and control to
            notifications and assistance to police, fire, medical and first
            responders.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            Whether it is a dispatch center, camera monitoring assignment or the
            solitary security officer on a post, they all have one thing in
            common, 24-7-365 communication. Every employee has the availability
            of communication at anytime that they are on duty, via radio or
            cellular phone. Their supervisors, and in some cases, their clients,
            are available at all times if so needed or notifications need to be
            made. In turn supervisors are able to contact management if needed
            anytime. Clients may contact the security officer, the supervisor or
            management at anytime.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            Needless to say, communications are critical in the security
            business. Communications in written form, i.e; DAR’s and Reports are
            submitted daily.
          </p>
          <p
            class="mb-6 text-2xl font-normal tracking-tight text-white lg:leading-tight"
          >
            Whatever your needs are, National 50 Security and Investigations
            Inc. will work with you to provide a security plan to fit your
            individual security needs.
          </p>
        </div>
      </div>
    </div>
  </section>



  <ServicesList />
  <ServicesListBlue />

    {/* White Section- National 50 security ans investigations inc*/}
    <section class="bg-white px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-screen-md lg:max-w-screen-xl">
        <div class="flex w-full justify-center">
          <h1 class="text-3xl font-bold text-dark-900">NATIONAL 50 SECURITY AND INVESTIGATIONS INC.</h1>
        </div>
        {/* Project description */}
        <div class="mx-auto mt-6 flex w-full flex-wrap">
          <div class="mx-auto w-full">
            <p
              class="mb-6 text-2xl font-normal tracking-tight text-dark-900 lg:leading-tight"
            >
            PROVIDES SUPERVISION OF SECURITY OFFICERS AT NO ADDITIONAL COST TO YOU. WE SHALL DESIGNATE SUPERVISORY PERSONNEL THAT WILL BE IDENTIFIED TO EACH CLIENT AND AVAILABLE TO THE CLIENT ANYTIME SECURITY SERVICES ARE PROVIDED AND ARE RESPONSIBLE FOR REPORTING AND CONFERRING WITH REPRESENTATIVES OF THE CLIENT WITH RESPECT TO THE SERVICES RENDERED. OUR CLIENTS CAN CONTACT SUPERVISORY PERSONNEL AT ANY TIME, 24 HOURS A DAY.
            </p>
        </div>
      </div>
    </section>
  

</HomeLayout>

