---
import { Image } from 'astro:assets'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import heroImage from '@images/stock/home-hero2.jpg'
import herobg from '@images/stock/hero-bg.jpg'
---

<section
  class="mx-auto max-w-screen-2xl px-4 pb-12 pt-2 sm:px-6 md:pb-16 lg:px-8"
>
  {/* Hero card */}
  <div class="relative rounded-3xl bg-dark-700 bg-opacity-80 shadow-xl sm:overflow-hidden" >
    
    
    {/* Hero card content */}
    <div
      class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:auto-rows-max lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-32 xl:gap-x-12"
    >
      {/* Card content text*/}
      <div class="flex flex-col items-center justify-center lg:items-start">
        <p
          class="z-30 inline-flex items-center justify-center rounded-r-full rounded-tl-full bg-gradient-to-r from-dark-800 to-dark-900 px-6 py-2 text-sm font-medium tracking-wide text-white"
        >
          Welcome
        </p>
        <div
          class="z-30 mx-auto mt-6 w-full max-w-lg text-center md:max-w-2xl lg:max-w-none lg:text-left"
        >
          <h1
            class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
          >
          We protect our clients & their property
          </h1>
          <p class="mt-6 text-xl text-dark-300">
            With National 50 Security, its not just a sales slogan, we do what we promise
          </p>
        </div>
        {/* Hero buttons */}
        <div class="z-30 mt-10 sm:flex sm:justify-center lg:justify-start">
          <PrimaryButton href="/about">Learn more</PrimaryButton>
          <SecondaryButton class="ml-0 mt-5 sm:ml-4 sm:mt-0" href="/services">
            Our Services
          </SecondaryButton>
        </div>
      </div>
      {/* Hero image */}
      <div
        class="relative mx-auto mt-12 flex w-full max-w-xl items-center justify-center sm:mt-16 lg:mt-0 lg:max-w-none"
      >
        <Image
          src={heroImage}
          alt="Crator studio office"
          class="z-30 h-full w-auto rounded-3xl object-cover shadow-md"
        />
      </div>
    </div>
  </div>
</section>
