---
import { Image } from 'astro:assets'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import heroImage from '@images/stock/home-hero2.jpg'
import herovideo from '@video/MainSlideShow.mp4'
---
<header class="relative flex items-center justify-center h-screen overflow-hidden">
  <video
    autoplay
    loop
    muted
    class="absolute w-auto min-w-full min-h-full max-w-none"
  >
    <source
      src={herovideo}
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  {/* Hero card */}
  <div class="relative grid place-content-center bg-dark-700 bg-opacity-80 shadow-xl sm:overflow-hidden  w-auto min-w-full min-h-full max-w-none" >
    
    
    {/* Hero card content */}
    <div
      class="z-10  mx-auto max-w-screen-xl "
    >
      {/* Card content text*/}
      <div class="flex flex-col items-center justify-center">
        
        <div
          class="z-30 mx-auto mt-6 w-full max-w-lg text-center md:max-w-2xl lg:max-w-none lg:text-left"
        >
          <h1
            class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
          >
          We protect our clients & their property
          </h1>
          <p class="mt-6 text-xl text-dark-300">
            With National 50 Security, its not just a sales slogan, we do what we promise
          </p>
        </div>
        {/* Hero buttons */}
        <div class="z-30 mt-10 flex justify-around">
          <PrimaryButton href="/about">Learn more</PrimaryButton>
          <PrimaryButton class="bg-white text-dark-900 mx-8 hover:text-dark-900" href="/services">
            Our Services
          </PrimaryButton>
        </div>
      </div>
    </div>
  </div>
  
</header>