---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import SecondaryButton from '@components/buttons/SecondaryButton.astro'

import ServicesListBg from '@images/stock/fieldSupervisors.png'
import sectionbg from '@images/stock/light-bg.png'
---

<section class="relative pt-24">
  <Image
    src={ServicesListBg}
    alt="description"
    class="absolute inset-0 h-full w-full object-cover object-center"
  />
  <div
    class="mx-auto grid max-w-screen-md grid-cols-3 gap-8 pb-16 lg:max-w-screen-xl"
  >
    
      <div class="mx-auto w-full justify-center col-span-3 z-10">
        
      </div>
      {/* Project description */}
      
      <div class="flex flex-col place-content-around gap-8">
        <div class="inline glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            FULLY UNIFORMED, ARMED AND UNARMED
          </h3>
        </div>
        <div class="inline glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            SECURITY OFFICES, DEDICATED TO YOUR SPECIAL NEEDS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            CUSTOMIZABLE SECURITY SOLUTIONS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            REGULAR TRACKING & REPORTING, ELECTRONIC AND PAPER
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            PARAMEDIC & EMT MEDICL SERVICES
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-left text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            FIELD SUPERVISORS (NOADDITIONAL CLIENT COST)
          </h3>
        </div>
      </div>
      <div class="min-h-80 fade-in-anim-center relative w-full md:mt-0"></div>
      <div class="flex flex-col place-content-around gap-8">
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            24 HOURS COMMUNICATIONS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            INESTIGATIVE SERVICES (LICENSED PRIVATE INVESTIGATORS)
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            CAMERA SYSTEMS AND TRAINED MONITORING OFFICERS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            TRAINED DISPATCHERS AND COMMUNICATION SPECIALITS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            THREAT ANALYSIS & EVALUATION EXPERTS
          </h3>
        </div>
        <div class="glass px-4 py-2 rounded-3xl fade-in-anim-right text-center font-bold text-white drop-shadow-lg">
          <h3 class="">
            MOBILE SECURITY PATROL UNITS
          </h3>
        </div>
      </div>
      <div class="py-8 col-span-3 z-10">
        <div class="mx-auto w-full max-w-4xl glass rounded-3xl p-8">
          <h1 class="text-3xl font-bold text-white text-center mb-2 drop-shadow-lg">SERVICES</h1>
          <p
            class="text-1xl mb-6 text-justify font-normal tracking-tight text-white drop-shadow-lg lg:leading-tight"
          >
            National 50 Security and Investigations Inc. offers a wide array of
            services to its clients. Our security officers are license,
            qualified and professionals. Our officers are highly trained and
            provide the best security available. Our officers operate within the
            rules of law and within the regulations and guidelines of the Bureau
            of Security and Investigative Services.
          </p>
        </div>
      </div>
  </div>

  <style>
    .fade-in-anim-left {
      view-timeline: --subjectReveal block;
      animation-timeline: --subjectReveal;

      animation-name: fadein-left;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-range: entry 25% cover 50%;
    }

    .fade-in-anim-right {
      view-timeline: --subjectReveal block;
      animation-timeline: --subjectReveal;

      animation-name: fadein-right;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-range: entry 25% cover 50%;
    }

    .fade-in-anim-center {
      view-timeline: --subjectReveal block;
      animation-timeline: --subjectReveal;

      animation-name: fadein-center;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-range: entry 25% cover 50%;
    }
    .fade-in-anim {
      view-timeline: --subjectReveal block;
      animation-timeline: --subjectReveal;

      animation-name: fadein-center;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-range: entry 25% cover 50%;
    }

    @keyframes fadein-left {
      from {
        opacity: 0;
        transform: translateX(-40px);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadein-right {
      from {
        opacity: 0;
        transform: translateX(40px);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadein-center {
      from {
        opacity: 0;
        transform: translateY(40px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  </style>
</section>
